@using Fulbo12.Core;
@model PersonaJuego;
@{
    ViewData["Title"] = "Persona - Detalle";
}

<a asp-controller="Futbolista" asp-action="Alta" asp-route-Id="@Model.Id">
    <button type="submit" class="btn btn-primary">Hacer Futbolista <i class="bi bi-dribbble"></i></button>
</a>
<h2 class="text-center">@Model.Nombre @Model.Apellido</h2>
<h5 class="text-center"> @Model.Pais.Nombre • @Model.Altura M.</h5>